{% extends "base_navigation.html" %}

{% block body %}

<!-- Navbar and flash messages -->
{{ super() }}

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>{{ user.username }} <small>{{ user.real_name }} {{ '-' if user.country else ''}} {{ user.country|title }}</small></h1>

            {% block configure_user %}

            <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#manageaccount"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Manage Account</a></h3>
              </div>
                <div id="manageaccount" class="panel-collapse collapse">
              <div class="panel-body">

            <ul>
                <li role="presentation"><a href="{{ url_for('delete_account') }}"
                       onclick="return confirm('Permanently delete account {{ user.username }}?')">
                    Delete account</a></li>
                <li role="presentation"><a href="#">Delete all my Memorizations</a></li>
                <li role="presentation"><a href="#"
                       onclick="return confirm('Delete recalls?')">
                    Delete all my Recalls of my Memorizations</a></li>
            </ul>

              </div></div>
            </div>
            </div>


            <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></h3>
              </div>
                <div id="settings" class="panel-collapse collapse">
              <div class="panel-body">

<form action="" method=post class="form-horizontal">
  <div class="form-group">
    <label for="binary" class="col-sm-2 control-label">Binary Numbers</label>
    <div class="col-sm-10">
      <input name="pattern_binary" type="text" class="form-control" id="binary" placeholder="pattern" value="{{user.settings.pattern_binary}}">
    </div>
  </div>
  <div class="form-group">
    <label for="decimal" class="col-sm-2 control-label">Decimal Numbers</label>
    <div class="col-sm-10">
      <input name="pattern_decimals" type="text" class="form-control" id="decimal" placeholder="pattern" value="{{user.settings.pattern_decimals}}">
    </div>
  </div>
  <div class="form-group">
    <label for="words" class="col-sm-2 control-label">Random Words</label>
    <div class="col-sm-10">
      <input name="pattern_words" type="text" class="form-control" id="words" placeholder="pattern" value="{{user.settings.pattern_words}}">
    </div>
  </div>
  <div class="form-group">
    <label for="dates" class="col-sm-2 control-label">Historical Dates</label>
    <div class="col-sm-10">
      <input name="pattern_dates" type="text" class="form-control" id="dates" placeholder="pattern" value="{{user.settings.pattern_dates}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
              </div></div>
            </div>
            </div>

            {% endblock configure_user %}

            <h3>Memorizations</h3>
            <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <th>Memo id</th>
                    <th>Created</th>
                    <th>Discipline</th>
                    <th>Min</th>
                    <th>Language</th>

                    <th>#</th>
                    <th>Sheet</th>
                    <th>Recall</th>
                      {% if users_home_page %}
                    <th>State</th>
                    <th>Delete</th>
                      {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for memo in user.memos %}
                      <tr>
                        <td>{{ memo.id }}</td>
                        <td>{{ memo.datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ memo.discipline.value }}</td>
                        <td>{{ memo.memo_time }} / {{memo.recall_time }}</td>
                          <!-- Language -->
                          {% if memo.language %}
                        <td>{{ memo.language|title }}</td>
                          {% else %}
                        <td>-</td>
                          {% endif %}

                        <td>{{ memo.data|length }}</td>

                          <!-- Discipline -->
                        {% if users_home_page or (not users_home_page and memo.state.value == 'Public')%}
                        <td><a href="{{ url_for('download_xls', memo_id=memo.id, pattern=user.settings.pattern_decimals) }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                        {% else %}
                         <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                        {% endif %}

                          <!-- Recall -->
                          <!-- And if competition, you should only be able to do recall once (if not memo_owner) -->
                          {% if users_home_page or (not users_home_page and memo.state.value != 'Private')%}
                        <td><a href="{{ url_for('recall_', memo_id=memo.id) }}" target="_blank">{{ memo.id }}</a></td>
                        {% else %}
                         <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                        {% endif %}

                          <!-- State -->
                      {% if users_home_page %}
                        <td><a href="{{ url_for('toggle_key_state', memo_id=memo.id) }}"
                        onclick="return confirm('Change to next state?')">
                            {{ memo.state.value }}</a>
                        </td>

                          <!-- Delete -->
                          {% if memo.state.value == 'Competition' %}
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                          {% else %}
                        <td><a href="{{ url_for('delete_memo', memo_id=memo.id) }}"
                        onclick="return confirm('Permanently delete {{ memo.id }}?')">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </td>
                          {% endif %}
                      {% endif %}
                      </tr>
                {% endfor %}
                </tbody>
              </table>

            <h3>Recalls</h3>
            <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Memo id</th>
                    <th>Recalled</th>
                    <th>Discipline</th>
                    <th>Min</th>
                    <th>Language</th>

                    <th>Nr Correct</th>
                    <th>Raw Score</th>
                    <th>Points</th>
                    <th>Time rem.</th>
                    <th>View</th>
                      {% if users_home_page %}
                    <th>Delete</th>
                      {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for recall in recalls %}
                      <tr>
                        <td>{{ recall.user.username }}</td>
                        <td>{{ recall.memo.id }}</td>
                        <td>{{ recall.datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ recall.memo.discipline.value }}</td>
                        <td>{{ recall.memo.memo_time }} / {{recall.memo.recall_time }}</td>

                          <!-- Language -->
                          {% if recall.memo.language %}
                        <td>{{ recall.memo.language|title }}</td>
                          {% else %}
                        <td>-</td>
                          {% endif %}

                        <td>{{ recall.correction.correct }}</td>
                        <td>{{ recall.correction.raw_score }}</td>
                        <td>{{ recall.correction.points }}</td>
                        <td>{{ recall.time_remaining|round(1) }}</td>

                          <!-- View -->
                          {% if users_home_page or (not users_home_page and recall.memo.state.value == 'Public') %}
                        <td><a href="{{ url_for('download_xls', memo_id=recall.memo.id) }}">{{ recall.memo.id }}.xls</a></td>
                        {% else %}
                         <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                        {% endif %}

                          <!-- Delete -->
                      {% if users_home_page %}
                          {% if recall.memo.user_id == user.id %}
                        <td><a href="{{ url_for('delete_recall', recall_id=recall.id) }}"
                        onclick="return confirm('Permanently delete?')">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </td>
                          {% else %}
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> </td>
                          {% endif %}
                      {% endif %}

                      </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
{% endblock %}