{% extends "base_navigation.html" %}


{% block body %}

<!-- Navbar and flash messages -->
{{ super() }}

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>{{ user.username }} <small>{{ user.real_name }} {{ '-' if user.country else ''}} {{ user.country|title }}</small></h1>

            {% block configure_user %}

            <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#manageaccount"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Manage Account</a></h3>
              </div>
                <div id="manageaccount" class="panel-collapse collapse">
              <div class="panel-body">

            <dl class="dl-horizontal">
                <dt role="presentation"><a href="{{ url_for('user_delete_column', username=current_user.username) }}">
                    Display delete-icon</a></dt>
                <dd>Your Home-page will be displayed as usual except the Memorizations' and Recall's table which will have an extra column with a delete-icon. This makes it possible to delete individual memorization or recall entries in table.</dd>

                <dt role="presentation"><a href="{{ url_for('delete_all_recalls') }}"
                       onclick="return confirm('Delete recalls?')">
                    Delete all Recalls</a></dt>
                <dd>Delete all Recalls you have made of memorizations you have created. (You can't delete recalls you have made on other users memorizations.)</dd>

                <dt role="presentation"><a href="{{ url_for('delete_all_memos') }}" onclick="return confirm('Delete ALL memorizations?')">Delete all Memos</a></dt>
                <dd>Delete all Memorizations you have created. All recalls made on these memorizations will be deleted as well (yours and others).</dd>
            </dl>

              </div></div>
            </div>
            </div>


            <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></h3>
              </div>
                <div id="settings" class="panel-collapse collapse">
              <div class="panel-body">

<form action="" method=post class="form-horizontal">
    <blockquote>
  <p>Grid pattern in memorization sheets.</p>
</blockquote>
  <div class="form-group">
    <label for="binary" class="col-sm-2 control-label">Binary Numbers</label>
    <div class="col-sm-10">
      <input name="pattern_binary" type="text" class="form-control" id="binary" placeholder="pattern, for example: 4,3,3" value="{{user.settings.pattern_binary}}" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <label for="decimal" class="col-sm-2 control-label">Decimal Numbers</label>
    <div class="col-sm-10">
      <input name="pattern_decimals" type="text" class="form-control" id="decimal" placeholder="pattern, for example: 2" value="{{user.settings.pattern_decimals}}" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <label for="words" class="col-sm-2 control-label">Random Words</label>
    <div class="col-sm-10">
      <input name="pattern_words" type="text" class="form-control" id="words" placeholder="pattern" value="{{user.settings.pattern_words}}" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <label for="dates" class="col-sm-2 control-label">Historical Dates</label>
    <div class="col-sm-10">
      <input name="pattern_dates" type="text" class="form-control" id="dates" placeholder="pattern" value="{{user.settings.pattern_dates}}" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
              </div></div>
            </div>
            </div>

            {% endblock configure_user %}
            {% if user.memos.all()|length > 0 %}
            <h3>Memorizations</h3>
            <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <th>Memo id</th>
                    <th>Discipline</th>
                    <th>Min</th>
                    <th>Language</th>

                    <th>#</th>
                    <th>Sheet</th>
                    <th>Recall</th>
                      {% if users_home_page %}
                    <th>State</th>
                        {% if delete_column %}
                        <th>Created</th>
                        <th>Delete</th>
                          {% endif %}
                      {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for memo in user.memos %}
                      <tr>
                        <td>{{ memo.id }}</td>
                        <td>{{ memo.discipline.value }}</td>
                          {% if memo.discipline.name == 'spoken' %}
                            <td>~{{ (memo.data|length/60)|round(2) }} / {{memo.recall_time }}</td>
                          {% else %}
                            <td>{{ memo.memo_time }} / {{memo.recall_time }}</td>
                          {% endif %}
                          <!-- Language -->
                          {% if memo.language %}
                        <td>{{ memo.language.language|title }}</td>
                          {% else %}
                        <td>-</td>
                          {% endif %}

                        <td>{{ memo.data|length }}</td>

                          <!-- Discipline -->
                        {% if users_home_page or (not users_home_page and memo.state.value == 'Public')%}
                          {% if memo.discipline.name == 'base2' %}
                          <td><a href="{{ url_for('download_xls', memo_id=memo.id, pattern=user.settings.pattern_binary) }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                          {% elif memo.discipline.name == 'base10' %}
                          <td><a href="{{ url_for('download_xls', memo_id=memo.id, pattern=user.settings.pattern_decimals) }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                          {% elif memo.discipline.name == 'words' %}
                          <td><a href="{{ url_for('download_xls', memo_id=memo.id, pattern=user.settings.pattern_words) }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                          {% elif memo.discipline.name == 'dates' %}
                          <td><a href="{{ url_for('download_xls', memo_id=memo.id, pattern=user.settings.pattern_dates) }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                          {% elif memo.discipline.name == 'spoken' %}
                          <td><a href="{{ url_for('play_spoken', memo_id=memo.id) }}"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></td>
                          {% endif %}
                        {% else %}
                         <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                        {% endif %}

                          <!-- Recall -->
                          <!-- And if competition, you should only be able to do recall once (if not memo_owner) -->
                          {% if users_home_page or (not users_home_page and memo.state.value != 'Private')%}
                        <td><a href="{{ url_for('recall_', memo_id=memo.id) }}" target="_blank">{{ memo.id }}</a></td>
                        {% else %}
                         <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                        {% endif %}

                          <!-- State -->
                      {% if users_home_page %}
                          {% if memo.state.name == 'private' %}
                        <td><a href="{{ url_for('change_state', memo_id=memo.id, state='competition') }}" onclick="return confirm('Are you sure?');"> &lt;</a>
                            {{ memo.state.value }}</td>
                          {% elif memo.state.name == 'competition' %}
                        <td><a href="{{ url_for('change_state', memo_id=memo.id, state='public') }}" onclick="return confirm('Are you sure?');"> &lt;</a>
                            {{ memo.state.value }}
                            <a href="{{ url_for('change_state', memo_id=memo.id, state='private') }}" onclick="return confirm('Are you sure?');"> &gt;</a></td>
                          {% elif memo.state.name == 'public' %}
                        <td>{{ memo.state.value }}
                            <a href="{{ url_for('change_state', memo_id=memo.id, state='competition') }}" onclick="return confirm('Are you sure?');"> &gt;</a></td>
                          {% else %}
                          {% endif %}

                        {% if delete_column %}
                        <td>{{ memo.datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                          <!-- Delete -->
                          {% if memo.state.name == 'private' %}
                            <td><a href="{{ url_for('delete_memo', memo_id=memo.id) }}"
                            onclick="return confirm('Permanently delete {{ memo.id }}?')">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </td>
                          {% else %}
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                      </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if recalls.all()|length > 0 %}
            <h3>Recalls</h3>
            <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <th>Memo id</th>
                    <th>Discipline</th>
                    <th>Min</th>
                    <th>Language</th>
                    <th>User</th>

                    <th>Points</th>
                    <th>Raw Score</th>
                    <th>Nr Correct</th>
                    <th>Nr Consec.</th>
                    <th>Time rem.</th>
                    <th>Recalled</th>
                      {% if users_home_page and delete_column%}
                    <th>Recall id</th>
                    <th>Delete</th>
                      {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for recall in recalls %}
                      <tr>
                        <td>{{ recall.memo.id }}</td>
                        <td>{{ recall.memo.discipline.value }}</td>
                        <td>{{ recall.memo.memo_time }} / {{recall.memo.recall_time }}</td>

                          <!-- Language -->
                          {% if recall.memo.language %}
                        <td>{{ recall.memo.language.language|title }}</td>
                          {% else %}
                        <td>-</td>
                          {% endif %}

                        <td><a href="{{ url_for('user', username=recall.user.username) }}">{{ recall.user.username }}</a></td>

                          {% if users_home_page or (not users_home_page and (recall.memo.state.value == 'Public' or recall.user.id == current_user.id)) %}
                            <td>{{ recall.correction.points }}</td>
                            <td>{{ recall.correction.raw_score }}</td>
                            <td>{{ recall.correction.correct }}</td>
                            <td>{{ recall.correction.consecutive }}</td>
                            <td>{{ recall.time_remaining|round(1) }}</td>
                            <td><a href="{{ url_for('view_recall', recall_id=recall.id) }}">{{ recall.datetime.strftime('%Y-%m-%d %H:%M:%S') }}</a></td>
                        {% else %}
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></td>
                             <td>{{ recall.datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        {% endif %}

                          <!-- Delete -->
                      {% if users_home_page and delete_column %}
                            <td>{{ recall.id }}</td>
                          {% if recall.memo.user_id == user.id %}
                        <td><a href="{{ url_for('delete_recall', recall_id=recall.id) }}"
                        onclick="return confirm('Permanently delete?')">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </td>
                          {% else %}
                            <td><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> </td>
                          {% endif %}
                      {% endif %}

                      </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}

<script>
$( document ).ready(function() {
    $('td, th').addClass('text-center');
    $("nav").find(".active").removeClass("active");
    $("#home").addClass("active");
});
</script>
{% endblock %}