{% extends "memo.html" %}

{% from 'memo.html' import common_fields %}

{% macro language(item_name) %}
<div class="form-group">
    <label for="language_{{ item_name }}" class="col-sm-3 control-label">Language</label>
    <div class="col-sm-9">
      <input name="language" type="string" required class="form-control" id="language_{{ item_name }}">
    </div>
</div>
{% endmacro %}

{% macro textarea(item_name, label, rows) %}
  <div class="form-group">
    <label for="data_{{ item_name }}" class="col-sm-3 control-label">{{ label }}</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="data" rows="{{ rows }}" id="data_{{ item_name }}"></textarea>
    </div>
  </div>
{% endmacro %}


{% block jumbotron %}
<h1>Create memorization data!</h1>
<p>This page is used to Create memorization data and recall settings.</p>
<p>1. Pick a discipline below</p>
<p>2. Enter desired values in the fields</p>
<p>3. Click the "Create"-button</p>
{% endblock %}


<!-- ________________________ NUMBERS ________________________ -->
{% block numbers %}
<div class="form-group">
    <label for="base_numbers" class="col-sm-3 control-label">Base</label>
    <div class="col-sm-9">
        <select name="base" class="form-control" id="base_numbers">
          <option>Decimal</option>
          <option>Binary</option>
        </select>
    </div>
</div>

{{ textarea(item_name='Digits', label='Digits', rows=40) }}

{{ common_fields('Digits') }}

{% endblock %}
{% block numbers_instructions %}
{% endblock %}


<!-- ________________________ WORDS ________________________ -->
{% block words %}

{{ language('Words') }}

{{ textarea(item_name='Words', label='Words', rows=40) }}

{{ common_fields('Words') }}
{% endblock %}

{% block words_instructions %}
{% endblock %}

<!-- ________________________ HISTORICAL DATES ________________________ -->

{% block dates %}

{{ language('Dates') }}

{{ textarea(item_name='Dates', label='Historical Dates', rows=40) }}

{{ common_fields('Dates') }}
{% endblock %}

{% block dates_instructions %}
{% endblock %}