{% extends "memo.html" %}

{% from 'memo.html' import common_fields %}

{% macro language(item_name) %}
<div class="form-group">
    <label for="language_{{ item_name }}" class="col-sm-3 control-label">Language</label>
    <div class="col-sm-9">
      <input name="language" type="string" required class="form-control" id="language_{{ item_name }}">
    </div>
</div>
{% endmacro %}


{% block jumbotron %}
<h1>Create memorization data!</h1>
<p>This page is used to Create memorization data and recall settings.</p>
<p>1. Pick a discipline below</p>
<p>2. Enter desired values in the fields</p>
<p>3. Click the "Create"-button</p>
{% endblock %}


<!-- ________________________ NUMBERS ________________________ -->
{% block numbers %}
<div class="form-group">
    <label for="base_numbers" class="col-sm-3 control-label">Base</label>
    <div class="col-sm-9">
        <select name="base" class="form-control" id="base_numbers">
          <option>Decimal</option>
          <option>Binary</option>
        </select>
    </div>
</div>

  <div class="form-group">
    <label for="data_Digits" class="col-sm-3 control-label">Digits</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="data" rows="20" id="data_Digits" placeholder="0123456789..."></textarea>
    </div>
  </div>

{{ common_fields('Digits') }}

{% endblock %}
{% block numbers_instructions %}
{% endblock %}


<!-- ________________________ WORDS ________________________ -->
{% block words %}

<input name="base" type="hidden" value="words">

{{ language('Words') }}

  <div class="form-group">
    <label for="data_Words" class="col-sm-3 control-label">Words</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="data" rows="20" id="data_Words" placeholder="kaffe"></textarea>
    </div>
  </div>

{{ common_fields('Words') }}
{% endblock %}

{% block words_instructions %}
{% endblock %}

<!-- ________________________ HISTORICAL DATES ________________________ -->

{% block dates %}

<input name="base" type="hidden" value="dates">

{{ language('Dates') }}

  <div class="form-group">
    <label for="data_Dates" class="col-sm-3 control-label">Historical Dates</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="data" rows="20" id="data_Dates" placeholder="2009 Första tävlingen i minne i Sverige"></textarea>
    </div>
  </div>

{{ common_fields('Dates') }}
{% endblock %}

{% block dates_instructions %}
{% endblock %}