{% extends "base_navigation.html" %}

{% from 'languages.html' import languages %}

{% block body %}

<!-- Navbar and flash messages -->
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h1>Database: Almost correct Words</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
                <div class="well words">

                    <form class="form-horizontal" action="" method="post">

                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ languages() }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input class="form-control"
                                       required
                                       name="word"
                                       id="word"
                                       autocomplete="off"
                                       placeholder="Word">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input class="form-control"
                                       required
                                       name="almost_correct"
                                       id="almost_correct"
                                       autocomplete="off"
                                       placeholder="Almost correct word">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" type="button" class="btn btn-default btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <div class="col-md-7">
            <p>Please enter values in the form to the left in order to add/modify the Almost Correct Words database.</p>
            <p><ul>
            <li>Write the words in the same language as you selected.</li>
            <li>The words should be sourced from an internationally recognised dictionary.</li>
            <li>Approximately
                <span class="label label-primary">80% concrete nouns</span>,
                <span class="label label-warning">10% abstract nouns</span> and
                <span class="label label-success">10% infinitive verbs</span> is the desired word distribution.</li>
                </ul>
            </p>
            <p><strong>Conflicts:</strong>
            If you add a word that already exists - nothing will happen - unless the word class is different. If the
            word class is different the word will be updated to have the new word class.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="db_almost_correct_words_content">
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
<script>

function update_table(language) {
    console.log('Update-table almost-correct-words, Language: ' + language);
    $.ajax({
          url: "{{ url_for('table_almost_correct_words') }}",
          type: "get",
          data: {
            language: language
          },
          success: function(response) {
            $('#db_almost_correct_words_content').html(response);
          },
          error: function(xhr) {
            $('#db_almost_correct_words_content').html('Error. Failed to get data from server.');
          }
    });
}

function send_delete(id) {
    if(!confirm("Are you sure you want to delete this Almost-Correct-Word?")){
        return false;
    }
    $.ajax({
      url: "{{ url_for('delete_almost_correct_word') }}",
      type: "get",
      data: {mapping_id: id},
      success: function(response) {
           update_table($('#language_selection').val());
      },
      error: function(xhr) {
        $('#db_almost_correct_words_content').html('Error. Failed to delete almost-correct-word.');
      }
    });
}

$(document).ready(function(){

     $('#language_selection').change(function() {
         var lang = this.value; // value of the select element
         update_table(lang);
     });

   $('form').submit(function(event){
          event.preventDefault();
          console.log("Sending data to server");
          $.ajax({
              url: "{{ url_for('table_almost_correct_words') }}",
              type: "post",
              data: $(this).serialize(),
              success: function(response) {
                   update_table($('#language_selection').val());
              },
              error: function(xhr) {
                $('#db_almost_correct_words_content').html('Error. Failed to submit data to server.');
              }
          });
	 });

});

</script>
{% endblock %}