{% extends "base_navigation.html" %}

{% from 'languages.html' import languages %}

{% block body %}

<!-- Navbar and flash messages -->
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Database: Almost correct Words</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="well words">

                <form class="form-horizontal" action="" method="post">

                    <div class="form-group">
                        <div class="col-sm-12">
                            {{ languages() }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input class="form-control"
                                   required
                                   name="word"
                                   id="word"
                                   autocomplete="off"
                                   placeholder="Word">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input class="form-control"
                                   required
                                   name="almost_correct"
                                   id="almost_correct"
                                   autocomplete="off"
                                   placeholder="Almost correct word">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" type="button"
                                    class="btn btn-default btn-block">Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <p>Please enter values in the form to the left and click Submit to
                add the misspelling to the database.</p>
            <p>This database is used when a recall of the Words discipline is
                corrected.
                If a word has been clearly memorized, but has been spelt
                incorrectly, no points are given for this word. This rule helps
                limit complications that may arise from spelling
                ambiguities, mistakes in translations, dyslexia, and handicaps
                for
                non-English speakers etc.
            </p>
            <p>In the field "Word" you type the correct spelling of the word.
                In the "Almost correct word" you type the misspelled version of
                the "Word".</p>
            <p>
            <ul>
                <li>Write the words in the same language as you selected.</li>
                <li>Note that singular and plural mistakes should always be
                    counted as a memory mistake - so do not add them.
                </li>
                <li>You can provide multiple misspellings of the same words.
                </li>
                <li>Words are saved in lowercase.</li>
                <li>This database is specific to each user.</li>
            </ul>
            </p>
            <div class="well">
                <em>word = <span class="text-success">augusti</span>, almost
                    correct word = <span
                            class="text-danger">agusti</span></em><br>
                <em>word = <span class="text-success">fläskfilé</span>, almost
                    correct word = <span class="text-danger">fläskfile</span></em><br>
                <em>word = <span class="text-success">fläskfilé</span>, almost
                    correct word = <span class="text-danger">fleskfilé</span></em><br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="db_almost_correct_words_content">
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
<script>

function update_table(language) {
    console.log('Update-table almost-correct-words, Language: ' + language);
    $.ajax({
          url: "{{ url_for('table_almost_correct_words') }}",
          type: "get",
          data: {
            language: language
          },
          success: function(response) {
            $('#db_almost_correct_words_content').html(response);
          },
          error: function(xhr) {
            $('#db_almost_correct_words_content').html('Error. Failed to get data from server.');
          }
    });
}

function send_delete(id) {
    if(!confirm("Are you sure you want to delete this Almost-Correct-Word?")){
        return false;
    }
    $.ajax({
      url: "{{ url_for('delete_almost_correct_word') }}",
      type: "get",
      data: {mapping_id: id},
      success: function(response) {
           update_table($('#language_selection').val());
      },
      error: function(xhr) {
        $('#db_almost_correct_words_content').html('Error. Failed to delete almost-correct-word.');
      }
    });
}

$(document).ready(function(){

     $('#language_selection').change(function() {
         var lang = this.value; // value of the select element
         update_table(lang);
     });

   $('form').submit(function(event){
          event.preventDefault();
          console.log("Sending data to server");
          $.ajax({
              url: "{{ url_for('table_almost_correct_words') }}",
              type: "post",
              data: $(this).serialize(),
              success: function(response) {
                   update_table($('#language_selection').val());
              },
              error: function(xhr) {
                $('#db_almost_correct_words_content').html('Error. Failed to submit data to server.');
              }
          });
	 });

});


</script>
{% endblock %}