{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Words Database</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Modify Database for Words</h3>
            <p> Todo: Adding/deleting content to the word database will be controlled from here.</p>

                <div class="well" style="background-color:#ffff66;">

                    <form class="form-horizontal" action="{{ url_for('db_words') }}" method="post">

                        <div class="form-group">
                            <label for="added_by" class="col-sm-1 control-label">Your Name</label>
                            <div class="col-sm-11">
                                <input name="added_by" type="string" required class="form-control" id="added_by">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="language" class="col-sm-1 control-label">Language</label>
                            <div class="col-sm-11">
                                <select class="form-control" name="language" id="language">
                                  <option>Swedish</option>
                                  <option>English</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="word_class" class="col-sm-1 control-label">Class</label>
                            <div class="col-sm-11">
                                <select class="form-control" name="word_class" id="word_class">
                                  <option>Concrete Noun</option>
                                  <option>Abstract Noun</option>
                                  <option>Infinitive Verb</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="word_input" class="col-sm-1 control-label">Words</label>
                            <div class="col-sm-11">
                                <textarea class="form-control" required name="data" rows="10" id="word_input"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="test" class="col-sm-1 control-label">Human Test</label>
                            <div class="col-sm-11">
                                <input name="test" type="string" required class="form-control" id="test" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-11">
                                <button type="submit" type="button" class="btn btn-default btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            {% if status is defined %}
                <h3>Your previous modifications</h3>
                <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Nr</th>
                    <th>Word</th>
                    <th>Language</th>
                    <th>Class</th>
                    <th>Added by</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody style="font-weight: bold">
                {% for entry, stat in status.items()|sort %}
                  {% if stat == 'added' %}
                  <tr class="text-success">
                    <td>Added</td>
                  {% elif stat == 'updated' %}
                  <tr class="text-warning">
                    <td>Updated</td>
                  {% elif stat == 'deleted' %}
                  <tr class="text-danger">
                    <td>Deleted</td>
                  {% elif stat == 'failed_delete' %}
                  <tr class="text-danger">
                    <td>Failed to delete (not found)</td>
                  {% else %}
                  <tr>
                    <td>{{ stat }}</td>
                  {% endif %}
                    <td>{{ loop.index }}</td>
                    <td>{{ entry.word }}</td>
                    <td>{{ entry.language }}</td>
                    <td>{{ entry.word_class }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.date }}</td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h3>Database content</h3>
            <table class="table table-condensed">
            <thead>
              <tr>
                <th>Nr</th>
                <th>Word</th>
                <th>Language</th>
                <th>Class</th>
                <th>Added by</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
            {% for entry in words %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entry.word }}</td>
                <td>{{ entry.language }}</td>
                <td>{{ entry.word_class }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.date }}</td>
              </tr>
            {% endfor %}
            </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}