
<h3>Database content</h3>
<p>According to the WMSC Handbook, these should be generally known words. Approximately 80% concrete
nouns, 10% abstract nouns and 10% infinitive verbs.</p>
<p>The table below lists all words available in the current database.</p>
<table class="table table-condensed">
<thead>
  <tr>
    <th>Nr</th>
    <th>Word</th>
    <th>Language</th>
    <th>Class</th>
    <th>Last modified by</th>
    <th>Date</th>
  </tr>
</thead>
<tbody>
{% for entry in words %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ entry.value }}</td>
    <td>{{ entry.language|title }}</td>
    <td>{{ entry.word_class|title }}</td>
    <td>{{ entry.name|title }}</td>
    <td>{{ entry.date }}</td>
  </tr>
{% endfor %}
</tbody>
</table>