
<h3>Your modification at {{ modification_time }}</h3>
<table class="table table-condensed">
<thead>
  <tr>
    <th>Status</th>
    <th>Nr</th>
    <th>Word</th>
    <th>Language</th>
    <th>Class</th>
    <th>Added by</th>
    <th>Date</th>
  </tr>
</thead>
<tbody style="font-weight: bold">
{% for entry, stat in status.items()|sort %}
  {% if stat == 'added' %}
  <tr class="text-success">
    <td>Added</td>
  {% elif stat == 'updated' %}
  <tr class="text-warning">
    <td>Updated</td>
  {% elif stat == 'deleted' %}
  <tr class="text-danger">
    <td>Deleted</td>
  {% elif stat == 'failed_delete' %}
  <tr class="text-danger">
    <td>Failed to delete (not found)</td>
  {% elif stat == 'already_exists' %}
  <tr class="text-danger">
    <td>Failed to add (already exists)</td>
  {% else %}
  <tr>
    <td>{{ stat }}</td>
  {% endif %}
    <td>{{ loop.index }}</td>
    <td>{{ entry.value }}</td>
    <td>{{ entry.language|title }}</td>
  {% if stat == 'failed_delete'%}
    <td></td>
    <td></td>
    <td></td>
  {% else %}
    <td>{{ entry.word_class|title }}</td>
    <td>{{ entry.name|title }}</td>
    <td>{{ entry.date }}</td>
  {% endif %}
  </tr>
{% endfor %}
</tbody>
</table>