{% extends "memo.html" %}

{% from 'memo.html' import common_fields %}

{% macro nr_items(item_name, max) %}
<div class="form-group">
    <label for="nr{{ item_name }}" class="col-sm-3 control-label">Nr {{ item_name }}</label>
    <div class="col-sm-9">
      <input name="nr_items" type="number" min="1" max="{{ max }}" required class="form-control" id="nr{{ item_name }}">
    </div>
</div>
{% endmacro %}

{% macro languages(item_name) %}
<div class="form-group">
    <label for="language_{{ item_name }}" class="col-sm-3 control-label">Language</label>
    <div class="col-sm-9">
        <select name="language" class="form-control" id="language_{{ item_name }}">
          <option>Swedish</option>
          <option>English</option>
        </select>
    </div>
</div>
{% endmacro %}


{% block jumbotron %}
<h1>Generate memorization data!</h1>
<p>This page is used to generate memorization data and recall settings.</p>
<p>1. Pick a discipline below</p>
<p>2. Enter desired values in the fields</p>
<p>3. Click the "Generate"-button</p>
{% endblock %}


<!-- ________________________ NUMBERS ________________________ -->
{% block numbers %}
<div class="form-group">
    <label for="base_numbers" class="col-sm-3 control-label">Base</label>
    <div class="col-sm-9">
        <select name="base" class="form-control" id="base_numbers">
          <option>Decimal</option>
          <option>Binary</option>
        </select>
    </div>
</div>

{{ nr_items('Digits', max=10000) }}

{{ common_fields('Digits') }}

{% endblock %}
{% block numbers_instructions %}
{% endblock %}


<!-- ________________________ WORDS ________________________ -->
{% block words %}

<input name="base" type="hidden" value="words">

{{ languages('Words')}}

{{ nr_items('Words', max=500) }}

{{ common_fields('Words') }}
{% endblock %}

{% block words_instructions %}
{% endblock %}

<!-- ________________________ HISTORICAL DATES ________________________ -->

{% block dates %}

<input name="base" type="hidden" value="dates">

{{ languages('Dates')}}

{{ nr_items('Dates', max=500) }}

{{ common_fields('Dates') }}
{% endblock %}

{% block dates_instructions %}
{% endblock %}