{% extends "base_navigation.html" %}

{% block body %}

<!-- Navbar and Flash messages -->
{% if not current_user.is_anonymous %}
{{ super() }}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

        <h1>Index</h1>

{% if current_user.is_anonymous %}
            <p>
                <a href="{{ url_for('register') }}">Register</a> or <a href="{{ url_for('login') }}">Login</a>
            </p>
{% endif %}

            <p>
            Interesting statistics, high scores, etc.
            </p>


        </div>
    </div>
</div>
{% endblock %}


