{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

  <form action="" method=post class="form-horizontal">
    <h2> Login </h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="form-control input-sm"
            placeholder="Enter Username" required  autocomplete="off">
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signin</button>
        </div>
    </div>
  </form>
<p>
    Don't have a login? Register new user here: <a href="{{ url_for('register') }}">Register</a>
</p>


        </div>
    </div>
</div>
{% endblock %}