{% extends "make.html" %}

{% macro nr_items(item_name, max) %}
<div class="form-group">
    <div class="col-sm-12">
      <input name="nr_items" type="number" min="1" max="{{ max }}" required class="form-control" id="nr{{ item_name }}" placeholder="Nr items">
    </div>
</div>
{% endmacro %}

{% macro languages(item_name) %}
<div class="form-group">
    <div class="col-sm-12">
        <select name="language" class="form-control" id="language_{{ item_name }}">
          <option>Swedish</option>
          <option>English</option>
        </select>
    </div>
</div>
{% endmacro %}

<!-- ________________________ BINARY ________________________ -->
{% block binary %}
{{ nr_items('Digits', max=20000) }}
{% endblock %}

{% block binary_instructions %}
{% endblock %}

<!-- ________________________ NUMBERS ________________________ -->
{% block numbers %}
{{ nr_items('Digits', max=10000) }}
{% endblock %}

{% block numbers_instructions %}
{% endblock %}


<!-- ________________________ WORDS ________________________ -->
{% block words %}
{{ languages('Words')}}
{{ nr_items('Words', max=500) }}
{% endblock %}

{% block words_instructions %}
{% endblock %}

<!-- ________________________ HISTORICAL DATES ________________________ -->

{% block dates %}
{{ languages('Dates')}}
{{ nr_items('Dates', max=500) }}
{% endblock %}

{% block dates_instructions %}
{% endblock %}