
{% macro common_fields(item_name, button_name) %}
<div class="form-group">
    <div class="col-sm-12">
        <button type="submit" type="button" class="btn btn-default btn-block">{{ button_name }}</button>
    </div>
</div>
{% endmacro %}

{% extends "base_navigation.html" %}

{% block body %}

<!-- Navbar and flashed messages -->
{{ super() }}

    {% set left_column_width = 6 %}
    {% set right_column_width = 6 %}

    <div class="container">


        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <h1>Binary Numbers</h1>
                <div class="well" style="background-color:#f442eb;">
                    <form id="form_binary" class="form-horizontal" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="binary">
                        {% block binary %}{% endblock %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control" id="time_binary">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="30,60">30min / 60min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Digits', 'Generate') }}
                    </form>
                </div>
                <p id="links_binary"><p>
            </div>
            <div class="col-md-{{ right_column_width }}">
                <h1>Decimal Numbers</h1>
                <div class="well" style="background-color:#5bc0de;">
                    <form id="form_numbers" class="form-horizontal" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="decimals">
                        {% block numbers %}{% endblock %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control" id="time_numbers">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="15,30">15min / 30min</option>
                                  <option value="30,60">30min / 60min</option>
                                  <option value="60,120">60min / 120min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Digits', 'Generate') }}
                    </form>
                </div>
                <p id="links_numbers"><p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <h1>Words</h1>
                <div class="well" style="background-color:#ffff66;">
                    <form id="form_words" class="form-horizontal" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="words">
                        {% block words %}{% endblock %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control" id="time_words">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="15,30">15min / 30min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Digits', 'Generate') }}
                    </form>
                </div>
                <p id="links_words"><p>
            </div>
            <div class="col-md-{{ right_column_width }}">
                <h1>Historical Dates</h1>
                <div class="well" style="background-color:#66ff99;">
                    <form id="form_dates" class="form-horizontal" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="dates">
                        {% block dates %}{% endblock %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control" id="time_dates">
                                  <option value="5,15">5min / 15min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Digits', 'Generate') }}
                    </form>
                </div>
                <p id="links_dates"><p>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}
<script>

$(document).ready(function(){

   $('#form_binary').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        $('#links_binary').prepend(data)
      });
   });

   $('#form_numbers').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        $('#links_numbers').prepend(data)
      });
   });

   $('#form_words').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        $('#links_words').prepend(data)
      });
   });

   $('#form_dates').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        $('#links_dates').prepend(data)
      });
   });
});

</script>
{% endblock %}

