{% extends "make.html" %}

{% from 'make.html' import common_fields %}

{% macro language(item_name) %}
<div class="form-group">
    <label for="language_{{ item_name }}" class="col-sm-3 control-label">Language</label>
    <div class="col-sm-9">
      <input name="language" type="string" required class="form-control" id="language_{{ item_name }}">
    </div>
</div>
{% endmacro %}


{% block jumbotron %}
<h1>Create memorization data!</h1>
<p>This page is used to create memorization data and recall settings.</p>
<p>1. Pick a discipline below</p>
<p>2. Enter desired values in the fields</p>
<p>3. Click the Create-button</p>
{% endblock %}

<!-- ________________________ BINARY ________________________ -->
{% block binary %}
  <div class="form-group">
    <label for="data_Binary" class="col-sm-3 control-label">Digits</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="data" rows="10" id="data_Binary"></textarea>
    </div>
  </div>
{% endblock %}

{% block binary_instructions %}
{% endblock %}

<!-- ________________________ NUMBERS ________________________ -->
{% block numbers %}
  <div class="form-group">
    <label for="data_Digits" class="col-sm-3 control-label">Digits</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="data" rows="10" id="data_Digits"></textarea>
    </div>
  </div>
{% endblock %}

{% block numbers_instructions %}
{% endblock %}


<!-- ________________________ WORDS ________________________ -->
{% block words %}
{{ language('Words') }}
  <div class="form-group">
    <label for="data_Words" class="col-sm-3 control-label">Words</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="data" rows="15" id="data_Words"></textarea>
    </div>
  </div>
{% endblock %}

{% block words_instructions %}
{% endblock %}

<!-- ________________________ HISTORICAL DATES ________________________ -->

{% block dates %}
{{ language('Dates') }}
  <div class="form-group">
    <label for="data_Dates" class="col-sm-3 control-label">Historical Dates</label>
    <div class="col-sm-9">
        <textarea class="form-control" name="data" rows="15" id="data_Dates"></textarea>
    </div>
  </div>
{% endblock %}

{% block dates_instructions %}
{% endblock %}