
{% macro common_fields(item_name) %}
<div class="form-group">
    <label for="pattern_{{ item_name }}" class="col-sm-3 control-label">Pattern</label>
    <div class="col-sm-9">
      <input name="pattern" type="string" class="form-control" id="pattern_{{ item_name }}" placeholder="comma-separated list of numbers or leave empty" autocomplete="off">
    </div>
</div>

<div class="form-group">
    <label for="memoTime_{{ item_name }}" class="col-sm-3 control-label">Memo. time</label>
    <div class="col-sm-9">
      <input name="memo_time" type="number" min="1" max="1500" required class="form-control" id="memoTime_{{ item_name }}" placeholder="minutes">
    </div>
</div>

<div class="form-group">
    <label for="recallTime_{{ item_name }}" class="col-sm-3 control-label">Recall time</label>
    <div class="col-sm-9">
      <input name="recall_time" type="number" min="1" max="1500" required class="form-control" id="recallTime_{{ item_name }}" placeholder="minutes">
    </div>
</div>

<div class="form-group">
    <label for="correction_{{ item_name }}" class="col-sm-3 control-label">Correction</label>
    <div class="col-sm-9">
        <select name="correction" class="form-control" id="correction_{{ item_name }}">
          <option>Standard</option>
          <option>Kind</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label"></label>
    <div class="col-sm-9">
        <button type="submit" type="button" class="btn btn-default btn-block">Generate</button>
    </div>
</div>
{% endmacro %}

{% extends "base.html" %}

{% block body %}

    {% set left_column_width = 8 %}
    {% set right_column_width = 4 %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    {% block jumbotron %}{% endblock %}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h1>Numbers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <div class="well" style="background-color:#5bc0de;">
                    <form id="form_numbers" class="form-horizontal" action="{{ url_for('make_blob_and_sheets') }}" method="post">
                        {% block numbers %}{% endblock %}
                    </form>
                </div>
                <p id="links_numbers"><p>
            </div>
            <div class="col-md-{{ right_column_width }}">
                {% block numbers_instructions %}{% endblock %}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h1>Words</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <div class="well" style="background-color:#ffff66;">
                    <form id="form_words" class="form-horizontal" action="{{ url_for('make_blob_and_sheets') }}" method="post">
                        {% block words %}{% endblock %}
                    </form>
                </div>
                <p id="links_words"><p>
            </div>
            <div class="col-md-{{ right_column_width }}">
                {% block words_instructions %}{% endblock %}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h1>Historical Dates</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <div class="well" style="background-color:#66ff99;">
                    <form id="form_dates" class="form-horizontal" action="{{ url_for('make_blob_and_sheets') }}" method="post">
                        {% block dates %}{% endblock %}
                    </form>
                </div>
                <p id="links_dates"><p>
            </div>
            <div class="col-md-{{ right_column_width }}">
                {% block dates_instructions %}{% endblock %}
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}
<script>

$(document).ready(function(){

   $('#form_numbers').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        $('#links_numbers').prepend(data)
      });
   });

   $('#form_words').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        $('#links_words').prepend(data)
      });
   });

   $('#form_dates').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        $('#links_dates').prepend(data)
      });
   });
});

</script>
{% endblock %}

