{% from 'languages.html' import languages %}

{% macro nr_items(max) %}
<div class="form-group">
    <div class="col-sm-12">
      <input name="nr_items" type="number" min="1" max="{{ max }}" required class="form-control" placeholder="Nr items">
    </div>
</div>
{% endmacro %}

{% macro languages_option() %}
<div class="form-group">
    <div class="col-sm-12">
        {{ languages() }}
    </div>
</div>
{% endmacro %}

{% macro common_fields(button_name) %}
<div class="form-group">
    <div class="col-sm-12">
        <button type="submit" type="button" class="btn btn-default btn-block">{{ button_name }}</button>
    </div>
</div>
{% endmacro %}

{% extends "base_navigation.html" %}

{% block body %}

<!-- Navbar and flashed messages -->
{{ super() }}

    {% set left_column_width = 6 %}
    {% set right_column_width = 6 %}

    <div class="container">


        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <h1>Binary Numbers</h1>
                <div class="well binary">
                    <form class="form-horizontal generate" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="binary">
                        {{ nr_items(max=20000) }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="30,60">30min / 60min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Generate') }}
                    </form>
                </div>
            </div>
            <div class="col-md-{{ right_column_width }}">
                <h1>Decimal Numbers</h1>
                <div class="well decimals">
                    <form class="form-horizontal generate" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="decimals">
                        {{ nr_items(max=10000) }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="15,30">15min / 30min</option>
                                  <option value="30,60">30min / 60min</option>
                                  <option value="60,120">60min / 120min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Generate') }}
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <h1>Words</h1>
                <div class="well words">
                    <form class="form-horizontal generate" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="words">
                        {{ nr_items(max=500) }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="15,30">15min / 30min</option>
                                </select>
                            </div>
                        </div>
                        {{ languages_option() }}
                        {{ common_fields('Generate') }}
                    </form>
                </div>
            </div>
            <div class="col-md-{{ right_column_width }}">
                <h1>Historical Dates</h1>
                <div class="well dates">
                    <form class="form-horizontal generate" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="dates">
                        {{ nr_items(max=500) }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="5,15">5min / 15min</option>
                                </select>
                            </div>
                        </div>
                        {{ languages_option() }}
                        {{ common_fields('Generate') }}
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <h1>Cards</h1>
                <div class="well cards">
                    <form class="form-horizontal generate" action="{{ url_for('make_discipline') }}" method="post">
                        <fieldset disabled="disabled">
                        <input name="discipline" type="hidden" value="cards">
                        {{ nr_items(max=20000) }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="10,30">10min / 30min</option>
                                  <option value="30,60">30min / 60min</option>
                                  <option value="60,120">60min / 120min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Generate') }}
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-{{ right_column_width }}">
                <h1>Spoken Numbers</h1>
                <div class="well spoken">
                    <form class="form-horizontal generate" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="spoken">
                        {{ nr_items(max=10000) }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="0,5">- / 5min</option>
                                  <option value="0,10">- / 10min</option>
                                  <option value="0,15">- / 15min</option>
                                  <option value="0,20">- / 20min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Generate') }}
                    </form>
                </div>
            </div>
        </div>

        <!-- CREATE -->

        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <h1>Binary Numbers</h1>
                <div class="well binary">
                    <form class="form-horizontal create" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="binary">
                          <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="data" rows="10"></textarea>
                            </div>
                          </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="30,60">30min / 60min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Create') }}
                    </form>
                </div>
            </div>
            <div class="col-md-{{ right_column_width }}">
                <h1>Decimal Numbers</h1>
                <div class="well decimals">
                    <form class="form-horizontal create" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="decimals">
                          <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="data" rows="10"></textarea>
                            </div>
                          </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="15,30">15min / 30min</option>
                                  <option value="30,60">30min / 60min</option>
                                  <option value="60,120">60min / 120min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Create') }}
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <h1>Words</h1>
                <div class="well words">
                    <form class="form-horizontal create" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="words">
                          <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="data" rows="20"></textarea>
                            </div>
                          </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="5,15">5min / 15min</option>
                                  <option value="15,30">15min / 30min</option>
                                </select>
                            </div>
                        </div>
                        {{ languages_option() }}
                        {{ common_fields('Create') }}
                    </form>
                </div>
            </div>
            <div class="col-md-{{ right_column_width }}">
                <h1>Historical Dates</h1>
                <div class="well dates">
                    <form class="form-horizontal create" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="dates">
                          <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="data" rows="20"></textarea>
                            </div>
                          </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="5,15">5min / 15min</option>
                                </select>
                            </div>
                        </div>
                        {{ languages_option() }}
                        {{ common_fields('Create') }}
                    </form>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-{{ left_column_width }}">
                <h1>Cards</h1>
                <div class="well cards">
                    <form class="form-horizontal generate" action="{{ url_for('make_discipline') }}" method="post">
                    <fieldset disabled="disabled">
                        <input name="discipline" type="hidden" value="cards">
                          <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="data" rows="10" placeholder="Not implemented"></textarea>
                            </div>
                          </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="10,30">10min / 30min</option>
                                  <option value="30,60">30min / 60min</option>
                                  <option value="60,120">60min / 120min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Generate') }}
                    </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-{{ right_column_width }}">
                <h1>Spoken Numbers</h1>
                <div class="well spoken">
                    <form class="form-horizontal generate" action="{{ url_for('make_discipline') }}" method="post">
                        <input name="discipline" type="hidden" value="spoken">
                          <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="data" rows="10"></textarea>
                            </div>
                          </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select name="time" class="form-control">
                                  <option value="0,5">- / 5min</option>
                                  <option value="0,10">- / 10min</option>
                                  <option value="0,15">- / 15min</option>
                                  <option value="0,20">- / 20min</option>
                                </select>
                            </div>
                        </div>
                        {{ common_fields('Generate') }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script>

$(document).ready(function(){

   $('form').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), function(data){
        //$('#links_numbers').prepend(data)
        alert(data);
      });
   });

});

</script>
{% endblock %}

