{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

	<div class="container">
        <div class="row">
            <div class="col-md-12">
				<h1>Data ready to be Memorized</h1>
				<p>Click to download: <a href="{{ xls_download_link }}">{{ xls_filename }}</a></p>
            </div>
        </div>
	</div>
	

{% endblock %}


{% block javascript%}

{% endblock %}

