{% extends "base.html" %}

{% block css %}

<style>
input[type=text] {
    text-align: center;
	padding:0px;
	margin:0px;
	width: 18px;
	font-size:18px;
	border: 0px;
}
input[type=text]:focus {
    background-color: lightblue;
}
table {
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 20px;
}
tr, td {
	padding:0px;
	margin:0px;
	white-space: nowrap;
}
body{
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
}
.row_enumeration {
    padding-left:20px;
    padding-right:10px;
    border-left: 1px solid;
}
</style>

{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Recall <small>(key={{ key }})</small></h1>
    </div>
    <h3>{{ blob.discipline|title }} numbers, {{ blob.recall_time }} min Recall</h3>
	
	<p><span class="label label-primary">Seconds remaining: <span id="seconds_remaining">20</span></span></p>
	
    <form action="{{ url_for('arbeiter') }}" method="post">
        <fieldset>
        <input name="recall_key" type="hidden" value="{{ key }}">

        <table border="1px" id="recall_table">
        {% for row_i in range(nr_rows) %}
            <tr class="recall_row">
                {% for col_i in range(nr_cols) %}
                    <td><input class="recall_cell" id="recall_cell_{{ row_i*nr_cols + col_i }}" name="recall_cell_{{ row_i*nr_cols + col_i }}" type="text" maxlength="1" size="1" autocomplete="off"></input></td>
                {% endfor %}
                <td class="row_enumeration">Row {{ row_i + 1 }}</td>
            </tr>
        {% endfor %}
        </table>
        <button id="recall_complete" type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
	
	<p id="result"></p>

{% endblock %}

{% block javascript%}
<script src="{{ url_for('static', filename='js/recall.js') }}"></script>

<script>

$(document).ready(function(){


    function recallSubmit(result, status, xhr){
        console.log(result);
        console.log(status);

        for (var recall_cell_id in result.cells){
            if(result.cells[recall_cell_id] == 'correct'){
                $('#' + recall_cell_id).css('background-color', 'lime');
            }
            else if(result.cells[recall_cell_id] == 'wrong'){
                $('#' + recall_cell_id).css('background-color', '#ff0022');
            }
            else if(result.cells[recall_cell_id] == 'gap'){
                $('#' + recall_cell_id).css('background-color', '#ff0022');
            }
            else if(result.cells[recall_cell_id] == 'not_reached'){
                $('#' + recall_cell_id).css('background-color', '#eaeaea');
            }
            else if(result.cells[recall_cell_id] == 'off_limits'){
                $('#' + recall_cell_id).css('background-color', '#eaeaea');
            }
            else{
                console.log('Got unexpected data: ' + result.cells[recall_cell_id]);
            }
        }
        $("#result").text('details here');
    }

   console.log("Recall time")
   recallTimer = setTimeout(getRecallTimer($('#seconds_remaining'), $('#recall_complete')), SECOND);

   // User clicks on a cell
   var nrRows = $('#recall_table .recall_row').length;
   var nrCells = $('#recall_table .recall_cell').length;
   console.log("Rows = " + nrRows);
   console.log("Cells = " + nrCells);

   $('.recall_cell').keydown(function(event) {
	   event.preventDefault();
	   var grid = new RecallGrid(nrRows, nrCells/nrRows, $(this));
	   keydownHandler(event, grid);
   });

   $('form').submit(function(event){
	  event.preventDefault();
	  // Post all the recall input data to the server
      $.post($(this).attr('action'), $(this).serialize(), recallSubmit, 'json');

      /* Disable the recall form because we don't want anyone
       to modify it after the time has run out */
      $('fieldset').prop('disabled', true);

      // Stop the clock from ticking
	  clearTimeout(recallTimer);
      return false;
   });
});
</script>
{% endblock %}

