{% extends "base.html" %}

{% block css %}

<style>
input[type=text] {
    text-align: center;
	padding:0px;
	margin:0px;
	width: 18px;
	font-size:18px;
	border: 0px;
}
input[type=text]:focus {
    background-color: lightblue;
}
table {
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 20px;
}
tr, td {
	padding:0px;
	margin:0px;
}
body{
color: black;
margin-left: 20px;
margin-bottom: 20px;
}
</style>

{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Recall <small>(key={{ key }})</small></h1>
    </div>
    <h3>{{ blob.discipline|title }} numbers, {{ blob.recall_time }} min Recall</h3>
	
	<p><span class="label label-primary">Seconds remaining: <span id="seconds_remaining">15</span></span></p>
	
    <form action="{{ url_for('arbeiter') }}" method="post">
        <fieldset>
        <table border="1px" id="recall_table">
        {% for row_i in range(nr_rows) %}
            <tr class="recall_row">
                {% for col_i in range(nr_cols) %}
                    <td><input class="recall_cell" id="recall_cell_{{ row_i*nr_cols + col_i }}" name="recall_cell_{{ row_i*nr_cols + col_i }}" type="text" maxlength="1" size="1" autocomplete="off"></input></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <button id="recall_complete" type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
	
	<p id="result"></p>

{% endblock %}

{% block javascript%}
<script src="{{ url_for('static', filename='js/recall.js') }}"></script>

<script>

var SECOND = 1000 // milliseconds

function getRecallTimer(recallTimeSec){
	var secondsRemaining = recallTimeSec;
	var interval = SECOND; // ms
	var expected = Date.now() + interval;
	function step() {
		secondsRemaining--;
		$('#seconds_remaining').text(secondsRemaining);
		if(secondsRemaining <= 0){
			console.log('Recall timeout -> Submit');
			$('#recall_complete').submit();
		}
		else{
			var dt = Date.now() - expected; // the drift (positive for overshooting)
			if (dt > interval) {
				console.log('Warning: dt = ' + dt);
			}
			expected += interval;
			recallTimer = setTimeout(step, Math.max(0, interval - dt)); // take into account drift
		}
	}
	return step;
}


function recallSubmit(data, status, xhr){
	console.log(data);
	console.log(status);
	
	var recall_correct = 0;
	var recall_wrong = 0;
	var recall_none = 0;
	
	for (var recall_cell_id in data){
		if(data[recall_cell_id] == true){
			$('#' + recall_cell_id).css('background-color', 'lime');
			recall_correct++;
		}
		else if(data[recall_cell_id] == false){
			$('#' + recall_cell_id).css('background-color', '#ff0022');
			recall_wrong++;
		}
		else if(data[recall_cell_id] == null){
			recall_none++;
		}
		else{
			console.log('Got unexpected data: ' + data[recall_cell_id]);
		}
	}
	$("#result").text(recall_correct + ', ' + recall_wrong + ', ' + recall_none);
}

$(document).ready(function(){

	// Start count down clock for recall
	recallTimer = setTimeout(getRecallTimer(15), SECOND);

   // User clicks on a cell
   var nrRows = $('#recall_table .recall_row').length;
   var nrCells = $('#recall_table .recall_cell').length;
   console.log("Rows = " + nrRows);
   console.log("Cells = " + nrCells);

   $('.recall_cell').keydown(function(event) {
	   event.preventDefault();
	   var grid = new RecallGrid(nrRows, nrCells/nrRows, $(this));
	   keydownHandler(event, grid);
   });

   $('form').submit(function(event){
	  event.preventDefault();
      $.post($(this).attr('action'), $(this).serialize(), recallSubmit, 'json');
      $('fieldset').prop('disabled', true);
	  clearTimeout(recallTimer);
      return false;
   });
});
</script>
{% endblock %}

