{% extends "recall.html" %}

{% block css_discipline_specific %}
<link href="{{ url_for('static', filename='css/recall_dates.css') }}" rel="stylesheet">
{% endblock %}

{% block subheader %}
<h3>Historical {{ memo.discipline.value }}, {{ memo.data|length }} st, {{ memo.language.language|title }}, {{ memo.recall_time }} min Recall</h3>
{% endblock %}

<!-- This part defines the recall table layout -->
{% block table_logic %}
<table border="1px" class="recall_table">
{% for date, story, order in data %}
    <tr class="recall_row">
        <td><input class="recall_cell"
                   id="recall_cell_{{ loop.index0 }}"
                   name="r_{{ loop.index0 }}"
                   type="text"
                   maxlength="4"
                   size="4"
                   autocomplete="off"
                   {% if view is defined %}
                        value="{{ recall.data[loop.index0] }}">
                   {% else %}
                        value="">
                   {% endif %}
        </td>
        <td class="story">{{ story }}</td>
    </tr>
{% if (loop.index0 + 1)%nr_dates_in_column == 0%}
    </table>
    <table border="1px" class="recall_table">
{% endif %}
{% endfor %}
</table>
{% endblock table_logic %}

{% block instructions %}
<h3>Controls</h3>
<dl class="dl-horizontal">
  <dt></dt>
  <dd></dd>
  <dt><kbd>0</kbd>, <kbd>1</kbd>, ..., <kbd>8</kbd>, <kbd>9</kbd></dt>
  <dd>Type date in active cell.</dd>
  <dt><kbd>Arrow keys</kbd></dt>
  <dd>Navigate which cell to focus.</dd>
  <dt><kbd>Enter</kbd></dt>
  <dd>Focus next cell.</dd>
</dl>
{% endblock %}

<!-- This part handles what will happen when a key is pressed -->
{% block keydown%}
   {% if view is not defined %}
    var grid = new RecallGrid(nrRows, nrCells/nrRows, $(this));
    // $(this).val().length
    keydownHandlerDates(event, grid);
   {% endif %}
{% endblock keydown%}
