{% extends "recall.html" %}

{% block css_discipline_specific %}
<link href="{{ url_for('static', filename='css/recall_words.css') }}" rel="stylesheet">
{% endblock %}


{% block subheader %}
<h3>{{ memo.discipline.value }}, {{ memo.data|length }} st, {{ memo.language.language|title }}, {{ memo.recall_time }} min Recall</h3>
{% endblock %}

<!-- This part defines the recall table layout -->
{% block table_logic %}
{% for nr_cols in nr_cols_iter %}
    {% set table = loop %}
    <table border="1px" class="recall_table">
        {% for row_i in range(nr_words_in_column) %}
        <tr class="recall_row">
            {% for col_i in range(nr_cols) %}
                <td><input class="recall_cell"
                           id="recall_cell_{{ table.index0*100 + col_i*nr_words_in_column + row_i }}"
                           name="r_{{ table.index0*100 + col_i*nr_words_in_column + row_i }}"
                           type="text"
                           autocomplete="off"
                           {% if view is defined %}
                                value="{{ recall.data[table.index0*100 + col_i*nr_words_in_column + row_i] }}">
                           {% else %}
                                value="">
                           {% endif %}
                </td>
            {% endfor %}
            <td class="row_enumeration">Row {{ table.index0*nr_words_in_column + row_i + 1 }}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock table_logic %}

<!-- This part handles what will happen when a key is pressed -->
{% block keydown%}
   {% if view is not defined %}
    var grid = new RecallGrid(nrCells/{{ nr_words_in_column }}, {{ nr_words_in_column }}, $(this), false);
    keydownHandlerWords(event, grid);
   {% endif %}
{% endblock keydown%}

