{% extends "base.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/recall_dates.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Recall <small>(key={{ key }})</small></h1>
    </div>
    <h3>{{ blob.discipline|title }} numbers, {{ blob.recall_time }} min Recall</h3>

	<p><span class="label label-primary">Seconds remaining: <span id="seconds_remaining">30</span></span></p>

    <form action="{{ url_for('arbeiter') }}" method="post">
        <fieldset>
        <input name="recall_key" type="hidden" value="{{ key }}">

        <table border="1px" class="recall_table">
        {% for date, story in blob._recall_data %}
            <tr class="recall_row">
                <td><input class="recall_cell" id="recall_cell_{{ loop.index0 }}" name="recall_cell_{{ loop.index0 }}" type="text" maxlength="4" size="4" autocomplete="off"></td>
                <td class="story">{{ story }}</td>
            </tr>
        {% if (loop.index0 + 1)%40 == 0%}
            </table>
            <table border="1px" class="recall_table">
        {% endif %}
        {% endfor %}
        </table>

        <button id="recall_complete" type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

	<p id="result"></p>

{% endblock %}

{% block javascript%}
<script src="{{ url_for('static', filename='js/recall.js') }}"></script>

<script>

$(document).ready(function(){

    function recallSubmit(result, status, xhr){
        console.log(result);
        console.log(status);

        for (var recall_cell_id in result.cells){
            recallResultColor(recall_cell_id, result.cells[recall_cell_id]);
        }
        $("#result").text('Nr correct digits: ' + result.nr_correct +
                          ' Nr wrong digits: ' + result.nr_wrong +
                          ' Nr forgotten digits: ' + result.nr_gap +
                          ' Nr digits not reached: ' + result.nr_not_reached);
    }

   recallTimer = setTimeout(getRecallTimer($('#seconds_remaining'), $('#recall_complete')), SECOND);

   var nrRows = $('.recall_table .recall_row').length;
   var nrCells = $('.recall_table .recall_cell').length;
   console.log("Rows = " + nrRows);
   console.log("Cells = " + nrCells);

   $('.recall_cell').keydown(function(event) {
	   var grid = new RecallGrid(nrRows, nrCells/nrRows, $(this));
	   keydownHandlerDates(event, grid);
   });

   $('form').submit(function(event){
	  event.preventDefault();
	  // Post all the recall input data to the server
      $.post($(this).attr('action'), $(this).serialize(), recallSubmit, 'json');

      /* Disable the recall form because we don't want anyone
       to modify it after the time has run out */
      $('fieldset').prop('disabled', true);

      // Stop the clock from ticking
	  clearTimeout(recallTimer);
      return false;
   });
});
</script>
{% endblock %}

