{% extends "base.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/recall.css') }}" rel="stylesheet">
{% block css_discipline_specific %}
<link href="{{ url_for('static', filename='css/recall_numbers.css') }}" rel="stylesheet">
{% endblock %}
{% endblock css %}

{% block body %}

    <div class="page-header">
        <h1>Recall <small>(key={{ key }})</small></h1>
    </div>
    {% block subheader %}
    <h3>{{ blob.discipline|title }} numbers, {{ blob.data|length }} st, {{ blob.recall_time }} min Recall</h3>
    {% endblock %}

    <form action="{{ url_for('arbeiter') }}" method="post">

        <fieldset>
        <div class="input-group" style="width:300px;">
          <input id="username" name="username" type="text" class="form-control" placeholder="Unique name" autocomplete="off">
          <span class="input-group-btn">
            <button id="start_recall" class="btn btn-success" type="button">Start Recall</button>
          </span>
        </div>

        <div id="recallsheet" style="display:none;">

        <p>Seconds remaining: <span id="seconds_remaining">{% block seconds_remaining %}30{% endblock %}</span></p>

        <div class="progress" style="width:300px;">
          <div id="progressbar" class="progress-bar" role="progressbar" style="width:0%">
          </div>
        </div>

        <input name="recall_key" type="hidden" value="{{ key }}">
        <input id="seconds_remaining_field" name="seconds_remaining" type="hidden">

        {% block table_logic %}
        {% endblock %}

        <button id="recall_submit_button" type="submit" class="btn btn-danger">Submit Recall</button>
        </div>
        </fieldset>
    </form>

	<div id="score_table" style="display:none;width=300px;">
        <h3>Score table</h3>
        <table>
            <tr>
                <td>Raw score</td>
                <td id="raw_score"></td>
            </tr>
            <tr>
                <td>Nr correct digits</td>
                <td id="count_correct"></td>
            </tr>
            <tr>
                <td>Nr wrong digits</td>
                <td id="count_wrong"></td>
            </tr>
            <tr>
                <td>Nr gap digits</td>
                <td id="count_gap"></td>
            </tr>
            <tr>
                <td>Nr unreached digits</td>
                <td id="count_unreached"></td>
            </tr>
        </table>
    </div>

{% endblock body %}

{% block javascript%}
<script src="{{ url_for('static', filename='js/recall.js') }}"></script>

<script>

$(document).ready(function(){

    function recallSubmit(result, status, xhr){
        console.log(result);
        console.log(status);

        var arrayLength = result.cell_by_cell_result.length;
        for (var i = 0; i < arrayLength; i++){
            recallResultColor('recall_cell_' + i, result.cell_by_cell_result[i]);
        }
        $("#recall_submit_button").css("display", "none");
        $("#raw_score").text(result.raw_score);
        $("#count_correct").text(result.count.correct);
        $("#count_wrong").text(result.count.wrong);
        $("#count_gap").text(result.count.gap);
        $("#count_unreached").text(result.count.not_reached);
        $('#score_table').css("display", "block");
    }

    // The timer is started when the Start-Recall button is clicked
   $('#start_recall').on('click', function(event){
        $(this).prop('disabled', true)
        $('#recallsheet').css("display", "block")
        recallTimer = setTimeout(getRecallTimer($('#seconds_remaining'), $('#recall_submit_button'), $('#progressbar')), SECOND);
   })

   var nrRows = $('.recall_table .recall_row').length;
   var nrCells = $('.recall_table .recall_cell').length;
   console.log("Rows = " + nrRows);
   console.log("Cells = " + nrCells);

   $('.recall_cell').keydown(function(event) {
       {% block keydown%}
           event.preventDefault();
           var grid = new RecallGrid(nrRows, nrCells/nrRows, $(this));
           keydownHandler(event, grid);
       {% endblock keydown%}
   });

   $('form').submit(function(event){
	  event.preventDefault();

      // Copy seconds remaining to hidden input field
	  $('#seconds_remaining_field').val($('#seconds_remaining').text());

	  // Post all the recall input data to the server
      $.post($(this).attr('action'), $(this).serialize(), recallSubmit, 'json');

      /* Disable the recall form because we don't want anyone
       to modify it after the time has run out */
      $('fieldset').prop('disabled', true);

      // Stop the clock from ticking
	  clearTimeout(recallTimer);
      return false;
   });
});
</script>
{% endblock javascript %}

