{% extends "recall.html" %}

{% block css_discipline_specific %}
<link href="{{ url_for('static', filename='css/recall_numbers.css') }}" rel="stylesheet">
{% endblock %}

{% block subheader %}
<h3>{{ memo.discipline.value }}, {{ memo.data|length }} st, {{ memo.recall_time }} min Recall</h3>
{% endblock %}

<!-- This part defines the recall table layout -->
{% block table_logic %}
<table border="1px" class="recall_table">
{% for row_i in range(nr_rows) %}
    <tr class="recall_row">
        {% for col_i in range(nr_cols) %}
            <td>
                <input class="recall_cell"
                       id="recall_cell_{{ row_i*nr_cols + col_i }}"
                       name="recall_cell_{{ row_i*nr_cols + col_i }}"
                       type="text"
                       maxlength="1"
                       size="1"
                       autocomplete="off"
                       {% if view is defined %}
                            value="{{ recall.data[row_i*nr_cols + col_i] }}">
                       {% else %}
                            value="">
                       {% endif %}
            </td>
        {% endfor %}
        <td class="row_enumeration">Row {{ row_i + 1 }}</td>
    </tr>
{% if (row_i + 1)%nr_digits_in_column == 0%}
    </table>
<table border="1px" class="recall_table">
{% endif %}
{% endfor %}
</table>
{% endblock table_logic %}

<!-- This part handles what will happen when a key is pressed -->
{% block keydown%}
   {% if view is not defined %}
       event.preventDefault();
       var grid = new RecallGrid(nrRows, nrCells/nrRows, $(this));
       keydownHandler(event, grid);
   {% endif %}
{% endblock keydown%}