{% extends "recall.html" %}

{% block css_discipline_specific %}
<link href="{{ url_for('static', filename='css/recall_words.css') }}" rel="stylesheet">
{% endblock %}


{% block subheader %}
<h3>{{ memo.discipline.value }}, {{ memo.data|length }} st, {{ memo.language.language|title }}, {{ memo.recall_time }} min</h3>
{% endblock %}

<!-- This part defines the recall table layout -->
{% block table_logic %}
{% for nr_cols in nr_cols_iter %}
    {% set table = loop %}
    <table border="1px" class="recall_table">
        {% for row_i in range(nr_words_in_column) %}
        <tr class="recall_row">
            {% for col_i in range(nr_cols) %}
<td><input class="recall_cell"
   id="recall_cell_{{ table.index0*100 + col_i*nr_words_in_column + row_i }}"
   name="r_{{ table.index0*100 + col_i*nr_words_in_column + row_i }}"
   type="text"
   spellcheck="false"
   autocomplete="off"
   {% if view is defined %}
        value="{{ recall.data[table.index0*100 + col_i*nr_words_in_column + row_i] }}">
   {% else %}
        value="">
   {% endif %}
</td>
            {% endfor %}
            <td class="row_enumeration">Row {{ table.index0*nr_words_in_column + row_i + 1 }}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock table_logic %}


{% block instructions %}
<h3>Controls</h3>
<dl class="dl-horizontal">
  <dt></dt>
  <dd></dd>
  <dt><kbd>Printable keys</kbd></dt>
  <dd>Type word in active cell.</dd>
  <dt><kbd>Arrow keys</kbd></dt>
  <dd>Navigate which cell to focus.</dd>
  <dt><kbd>Enter</kbd></dt>
  <dd>Focus next cell.</dd>
  <dt><kbd>9</kbd></dt>
    <dd>Shift active cell and <em>all</em> aftercoming cells one step down.</dd>
  <dt><kbd>8</kbd></dt>
    <dd>Clear active cell and shift <em>all</em> aftercoming cells one step up.</dd>
  <dt><kbd>2</kbd></dt>
  <dd>Same as <kbd>9</kbd> but only for the current column.</dd>
  <dt><kbd>1</kbd></dt>
  <dd>Same as <kbd>8</kbd> but only for the current column.</dd>
</dl>
{% endblock %}

<!-- This part handles what will happen when a key is pressed -->
{% block keydown%}
   {% if view is not defined %}
    var grid = new RecallGrid(nrCells/{{ nr_words_in_column }}, {{ nr_words_in_column }}, $(this), false);
    keydownHandlerWords(event, grid);
   {% endif %}
{% endblock keydown%}

