
{%- for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
{%- endfor %}

{% if nr_words > 0 %}
<div class="progress">
  <div class="progress-bar progress-bar-primary" style="width: {{ 100*distribution['Concrete Noun']/nr_words }}%">
    ({{ distribution['Concrete Noun'] }}) {{ (100*distribution['Concrete Noun']/nr_words)|round|int }}%
  </div>
  <div class="progress-bar progress-bar-warning" style="width: {{ 100*distribution['Abstract Noun']/nr_words }}%">
    ({{ distribution['Abstract Noun'] }}) {{ (100*distribution['Abstract Noun']/nr_words)|round|int }}%
  </div>
  <div class="progress-bar progress-bar-success" style="width: {{ 100*distribution['Infinitive Verb']/nr_words }}%">
    ({{ distribution['Infinitive Verb'] }}) {{ (100*distribution['Infinitive Verb']/nr_words)|round|int }}%
  </div>
</div>
{% endif %}


<table class="table table-condensed">
<thead>
  <tr>
    <th>Nr</th>
    <th>Added</th>
    <th>Language</th>
    <th>Class</th>
    <th>Word</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody>
{% for word in words %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ word.datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    <td>{{ word.language.language|title }}</td>
    <td>{{ word.word }}</td>
    <td>{{ word.word_class.value|title }}</td>
    <td><button type="button" class="btn btn-danger btn-xs" onclick="send_delete({{ word.id }});">X</button></td>
  </tr>
{% endfor %}
</tbody>
</table>