
{%- for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
{%- endfor %}

<table class="table table-condensed">
<thead>
  <tr>
    <th>Nr</th>
    <th>Story</th>
    <th>Language</th>
    <th>Added</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody>
{% for story in stories %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ story.story }}</td>
    <td>{{ story.language.language|title }}</td>
    <td>{{ story.datetime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    <td><button type="button" class="btn btn-danger btn-xs" onclick="send_delete({{ story.id }});">X</button></td>
  </tr>
{% endfor %}
</tbody>
</table>