{% extends "base.html" %}
{% block body %}
    <h1>Hello, World!</h1>

    <form action="{{ url_for('arbeiter') }}" method="post">
        <table border="1px" id="recall_table">
        {% for row_i in range(nr_rows) %}
            <tr class="recall_row">
                {% for col_i in range(nr_cols) %}
                    <td><input class="recall_cell" id="recall_cell_{{ row_i*nr_cols + col_i }}" name="recall_cell_{{ row_i*nr_cols + col_i }}" type="text" maxlength="1"></input></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block javascript%}
<script src="{{ url_for('static', filename='js/recall.js') }}"></script>

<script>
$(document).ready(function(){
   // User clicks on a cell
   var nrRows = $('#recall_table .recall_row').length;
   var nrCells = $('#recall_table .recall_cell').length;
   console.log("Rows = " + nrRows);
   console.log("Cells = " + nrCells);

   $('.recall_cell').keydown(function(e) {
	   e.preventDefault();
	   var grid = new RecallGrid(nrRows, nrCells/nrRows, $(this));
	   keydownHandler(event, grid);
   });

   var $form = $('form');
   $form.submit(function(){
      $.post($(this).attr('action'), $(this).serialize(), function(response){
            console.log(response);
            for (var x in response){
                console.log(response[x]);
                if(response[x]){
                    $('#' + x).val(0);
                }
            }
      }, 'json');
      return false;
   });
});
</script>
{% endblock %}

