
.binary {
    background-color:#f442eb;
}

.decimals {
    background-color:#5bc0de;
}

.spoken {
    background-color:#000000;
}

.cards {
    background-color:#ff2626;
}

.words {
    background-color:#ffff66;
}

.dates {
    background-color:#66ff99;
}

.base2-text {
    color:#f442eb;
    font-weight: bold;
}

.base10-text {
    color:#383ae0;
    font-weight: bold;
}

.words-text {
    color:#9fb20c;
    font-weight: bold;
}

.dates-text {
    color:#12a835;
    font-weight: bold;
}