#recallsheet input[type=text] {
    text-align: center;
	padding:0px;
	margin:0px;
	width: 80px;
	font-size:18px;
	border: 0px;
}
#recallsheet input[type=text]:focus {
    background-color: lightblue;
}
#recallsheet .story {
	padding-left:10px;
	padding-right:10px;
}