#recallsheet input[type=text] {
    text-align: left;
	padding-left:10px;
	margin:0px;
	width: 150px;
	font-size:18px;
	border: 0px;
}
#recallsheet input[type=text]:focus {
    background-color: lightblue;
}