
.recall_correct {
    background-color:lime;
}
.recall_wrong {
    background-color:#ff0022;
}
.recall_gap {
    background-color:#42d7f4;
}
.recall_not_reached {
    background-color:#eaeaea;
}
.recall_off_limits {
    background-color:lightgray;
}
.recall_almost_correct {
    background-color:#ffff66;
}

#score_table tr, #score_table td {
	padding-left:10px;
	padding-right:10px;
	border: 1px solid;
}