#recallsheet input[type=text] {
    text-align: center;
	padding:0px;
	margin:0px;
	width: 18px;
	font-size:18px;
	border: 0px;
}
#recallsheet input[type=text]:focus {
    background-color: lightblue;
}
#recallsheet table {
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 10px;
}
#recallsheet tr, #recallsheet td {
	padding:0px;
	margin:0px;
	white-space: nowrap;
	border: 1px solid;
}
#recallsheet .row_enumeration {
    padding-left:20px;
    padding-right:10px;
}