
#recallbody {
    color: black;
    margin-left: 20px;
}

#recallsheet table {
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 10px;
}
#recallsheet tr, #recallsheet td {
	padding:0px;
	margin:0px;
	white-space: nowrap;
	border: 1px solid;
}
#recallsheet .row_enumeration {
    padding-left:20px;
    padding-right:10px;
    border-left: 1px solid;
}
#score_table tr, #score_table td {
	padding-left:10px;
	padding-right:10px;
	border: 1px solid;
}

#recall_submit_button {
    margin-top: 10px;
}

#instructions {
    margin-top:10px;
}

dt, dd { display: block; margin-top: 10px; }

.recall_correct {
    background-color:lime;
}
.recall_wrong {
    background-color:#ff0022;
}
.recall_gap {
    background-color:#16ccff;
}
.recall_not_reached {
    background-color:#eaeaea;
}
.recall_off_limits {
    background-color:lightgray;
}
.recall_almost_correct {
    background-color:#ffff66;
}
